body{  margin:0;
			font-style: italic;
			line-height: 1.5 ;
			
			}
header {
				background-color: darkblue; 
				padding: 20px;
			}
h1{	text-align: center;
		color: white;
			}
a{  color: white;
		text-decoration: none;
		margin-right: 20px;
			}
main{
				background-color: lightblue;
				color: darkblue;
				padding: 10px;
				min-height: 400px;
			}
footer{
				background-color: darkblue;
				color: white;
				padding: 14px;
				text-align: center;
			}